@model IEnumerable<ECommerce.MvcWebUI.Models.ProductModel>
@{
    ViewBag.Title = "List";
}

<div class="row mt-5">

    <div class="col-md-3">
        @Html.Action("GetCategories","Home")
    </div>


    <div class="col-md-9">

        @if (Model.Count() == 0)
        {
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                No products found in this category.
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <strong>@Model.Count() products</strong> found in this category.
            </div>
        }

        @Html.Partial("_ProductList", Model)
    </div>
</div>