
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-3 ">
            <div class="card">
                <img src="/Upload/@product.Image" class="card-img-top" style="width:auto; height:400px;" alt="@product.Name">
                <div class="card-body">
                    <h4 class="card-title"><a href="/Home/Details/@product.Id">@product.Name</a></h4>
                    <p class="card-text pt-2 description">@product.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        <i class="fa fa-try" aria-hidden="true"></i>
                        @product.Price
                    </small>
                    <a href="/Home/Details/@product.Id" class="float-right" style="text-decoration:none;">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    View Product</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</div>